body {
  background-color: #f7f5f5;
  background-size: cover;
}


li {
  list-style-type: none; /* Убираем маркеры */
}
ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.logo {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
}

.cars {
  display: flex;
  flex-wrap: wrap;
}

.cars__stamp {
  display: flex;
  flex-direction: column;
}

.cars__stamp:hover{
  background: #29B0D9;
  border-radius: 30px;
  border: 1px solid #29B0D9;
}
.cars__stamp__text {
  align-self: center;
}
